@font-face {
	font-family: 'Amstelvar';
	src: url('resources/Amstelvar-Roman[wdth,wght,opsz].woff2') format('woff2 supports variations'),
		 url('resources/Amstelvar-Roman[wdth,wght,opsz].woff2') format('woff2-variations');
	font-weight: 100 800;
	font-stretch: 10% 150%;
	font-style: normal;
}

body {
	font-family: "Amstelvar", "Avenir Next", system-ui, sans-serif;
	background-color: #f8f8f8;
	color: #202020;
}

h1 {
	font-size: 3em;
	font-weight: 800;
	font-stretch: 110%;
	margin: 0;
}

h2 {
	margin: 0 0 4px 0;
	font-weight: 650;
	font-stretch: 90%;
}

h3 {
	margin: 0;
	font-weight: 500;
	font-style: italic;
}

a {
	font-weight: 500;
	color: #202020;
}

h3.link {
	font-style: normal;
}

.datum {
	margin-top: 1em;
	margin-bottom: 1em;
}

.timeline-point {
	width: 12px;
	height: 12px;
	margin: -6px;
	position: relative;
	background: #202020;
	border-radius: 100%;
	right: 33.5px;
	top: 15px;
}

#logo-container {
	display: inline-block;
	padding: 1em 2em;
}

#logo-path {
	fill: #202020;
}

#info {
	padding-left: 2em;
	border-left: 3px solid;
	border-color: #202020;
}

#content {
	display: flex;
	align-items: top;
	justify-content: center;
	margin-top: 50px
}

#info > p {
	margin: 1em 0 2em 0;
}	

@media (prefers-color-scheme: dark) {
	body {
		background-color: #202020;
		color: #f8f8f8;
	}

	a {
		color: #f8f8f8;
	}

	.timeline-point {
		background: #f8f8f8;
	}

	#logo-path {
		fill: #f8f8f8;
	}

	#info {
		border-color: #f8f8f8;
	}
}

@media screen and (max-width: 700px) {
	#logo {
		padding: 1em;
	}

	#info {
		border-left: none; 
		border-top: 3px solid;
		padding-top: 1.5em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		margin-left: 0;
		max-width: 400px;
	}

	#content {
		align-items: center;
		flex-direction: column;
		margin-top: 0;
	}

	.datum > h4 {
		margin: 0;
	}

	h1 {
		font-stretch: 110%;
	}

	.timeline-point {
		display: none;
	}
}
