body {
	background-color: #ffffff;
}

#logo {
	display: inline-block;
	height: 10em;
	padding: 2em;
	border-right: 3px solid black
}


#info {
	margin-left: 2em;
	font-family: system-ui, sans-serif;
}

#Container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px
}


#links {
	display: inline-flex;
	justify-content: center;
	margin-top: 1em
}

h1 {
	margin: 0;
}

h3 {
	margin: .5em 0 0 0;
}

h4 {
	margin: 0 0 0 1em;
	font-weight: 100;
	font-size: .9em;
}

p {
	margin: 1em 0 0 0;
}

a {
	font-family: system-ui, sans-serif;
	font-weight: 300;
	color: #000;
}

@media screen and (max-width: 500px) {
	#logo {
		border-right: none;
	}

	#info {
		border-top: 3px solid black;
		padding-top: 1.5em;
		text-align: center;
		margin-left: 0;
	}

	#Container {
		flex-direction: column;
	}

	h4 {
		margin: 0;
	}
}
