@font-face {
	font-family: 'RobotoFlex';
	src: url('resources/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff') format('woff2 supports variations'),
		 url('resources/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff') format('woff2-variations');
	font-weight: 100 800;
	font-stretch: 10% 150%;
	font-style: normal;
}

:root {
	--button: hsl(114, 20%, 70%);
	--text: hsl(114, 20%, 20%);
	--background-level-0: hsl(114, 10%, 90%);
	--background-level-1: hsl(114, 20%, 80%);

	--size-xxxs: 2px;
	--size-xxs: 4px;
	--size-xs: 8px;
	--size-s: 16px;
	--size-m: 24px;
	--size-l: 36px;
	--size-xl: 48px;
	--size-xxl: 64px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--button: hsl(114, 10%, 30%);
		--text: hsl(114, 20%, 87.5%);
		--background-level-0: hsl(114, 10%, 10%);
		--background-level-1: hsl(114, 10%, 17.5%);
	}
}

/* Horrible hacks since chromium system-ui font isn't variable */
html[data-useragent*="Chrome"] body {
	font-family: 'RobotoFlex', system-ui, sans-serif;
}

body {
	font-family: system-ui, 'RobotoFlex', sans-serif;
	background-color: var(--background-level-0);
	color: var(--text);
}

#preamble {
	display: flex;
	flex-direction: column;
	gap: var(--size-xs);
}

.spacer {
	flex-grow: 1;
}

#timeline {
	display: flex;
	flex-direction: column;
	gap: var(--size-s);
}

.datum { 
	display: flex;
	flex-direction: column;
	gap: var(--size-xs);
}

h1 {
	font-size: var(--size-xl);
	margin: 0;
	font-weight: 800;
	font-stretch: 125%;
}

h2 {
	margin: 0;
	font-weight: 650;
}

h3 {
	margin: 0;
	font-weight: 500;
}

.links {
	display: flex;
	align-items: baseline;
	gap: var(--size-xs);
}

a {
	position: relative;
	padding: var(--size-xxs);
	left: calc(var(--size-xxs) * -1);

	color: var(--text);
	font-weight: 500;
	border-radius: var(--size-xxs);
	background-color: var(--button);

	text-decoration: none;
	transition: all 0.2s;
}

a.active {
	border: 1px solid var(--text)
}

a:hover {
	font-stretch: 130%;
	font-weight: 700;
}

.section {
	flex-grow: 1;
	padding: var(--size-m);
	border-radius: 24px;
	background-color: var(--background-level-1);
}

#logo-container {
	padding-top: 10px;
	flex-basis: 100px;
}

#logo-path {
	fill: var(--text);
}

#info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 36px;
	margin-top: var(--size-l);
}
